<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>添加书籍类别</h1>
    <form action="/book/addtype">
    
    <label for="">添加类别：</label>
    <input type="text" name="type">
    <br>
    <label for="">热度：</label>
    <input type="text" name="hot">
    <br>
    <input type="submit" value="添加类别">



</form>
</body>
</html>